<!DOCTYPE html>
<html>
<head>

  <title>Karma. Global p2p-lending platform</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.0/normalize.css"/>
  <link rel="icon" type="image/png" href="/images/logo.png"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap&subset=cyrillic" rel="stylesheet">

  <%= htmlWebpackPlugin.options.GoogleAnalytics %>
</head>
<body>
<div id="app-root"></div>
<%= htmlWebpackPlugin.options.GTAGManagerNoScript %>
<%= htmlWebpackPlugin.options.GANKarma %>
<%= htmlWebpackPlugin.options.ChatScript %>
<%= htmlWebpackPlugin.options.Roistat %>
<%= htmlWebpackPlugin.options.AmoPixel %>
</body>
</html>

